{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}"
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Login</h2>
                        <p>Welcome to the official Anime blog.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Iniciar Sesión</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="input__item">
                                <input type="text" placeholder="Correo electrónico" name="username" class="form-control{% if form.username.errors %} is-invalid{% endif %}" required>
                                <span class="icon_mail"></span>
                                {% if form.username.errors %}
                                    <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                      {{ error|escape }}
                                    {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Contraseña" name="password" class="form-control{% if form.username.errors %} is-invalid{% endif %}" required>
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Ingresar</button>
                        </form>
                        <a href="#" class="forget_pass">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>¿No tienes una cuenta?</h3>
                        <a href="{% url 'signup' %}" class="primary-btn">Registrate ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->
{% endblock content %}